$max-item-width: 650px;
$min-item-width: 300px;

.input-toolbar{
    display: flex;
    justify-content: center;
    .mat-form-field{
        max-width: $max-item-width;
        font-size: 14px;
        .mat-button-base{
            font-size: 24px;
        }
    }
}

.empty-state{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 32px;
    img {
        width: 95%;
        max-width: $max-item-width;
    }
}

.results-container{
    height: calc(100% - 64px);
    padding: 0 8px;
    overflow: auto;
    display: flex;
    justify-content: center;
}
.results-inner-container {
    min-width: $min-item-width;
    max-width: $max-item-width;
    & > .mat-card {
        margin-top: 16px;
    }

    .result {
        display: flex;
        .result-image {
            border-radius: 12px;
            width: 164px;
            height: 120px;
            background-position: center;
            background-size: cover;
        }
        .result-content {
            margin-left: 16px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .result-actions{
                width: 100%;
                display: flex;
                justify-content: flex-end;
            }
        }
    }
}

.load-more-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 0 96px;
    span{
        margin: 16px 0;
    }
}