<mat-card>
    <div class="search-container">
        <div class="search-input-container">
            <mat-form-field class="full-width-form-field">
                <input matInput placeholder="GIPHY Search" (keydown.enter)="handleSearch()" [value]="searchValue"
                    (input)="handleSearchInput($event)">
            </mat-form-field>
        </div>
        <button mat-button (click)="handleSearch()">
            <mat-icon>search</mat-icon>
            <span>Search</span>
        </button>
    </div>
</mat-card>
<div class="results-container">
    <div *ngIf="searchIsLoading; else resultsTemplate" class="loading-container">
        <mat-spinner></mat-spinner>
    </div>
</div>


<ng-template #resultsTemplate>
    <mat-card class="result" *ngFor="let result of results">
      <img class="result-image" [src]="result?.images?.preview_gif.url" />
      <div class="result-content">
        <div>
          <p class="mat-subtitle">{{result?.title || 'No name'}}</p>
          <p class="mat-caption" *ngIf="result?.username">Uploaded by {{result.username}}</p>
        </div>
        <div class="result-actions">
          <!-- <button mat-button>
            <mat-icon>launch</mat-icon>
          </button> -->
          <button mat-button color="primary" (click)="handleCommentClick(result)">
            <mat-icon>comment</mat-icon>
          </button>
          <button mat-button color="warn" (click)="handleLikeClick(result)">
            <mat-icon>{{result?.liked ? 'favorite' : 'favorite_border'}}</mat-icon>&nbsp;
            <span *ngIf="result?.firebaseMetadata?.likes?.length as likes">{{likes}}</span>
          </button>
        </div>
      </div>
    </mat-card>
  </ng-template>