.google-logo {
    width: 18px;
    height: 18px;
    margin-right: 8px;
}

.login-container {
    display: flex;
    flex-direction: column;
    .login-buttons {
        button {
            .mat-button-wrapper {
                display: flex;
                align-items: center;
            }
            margin-top: 8px;
            width: 100%;
        }
    }
    .break-section{
        margin: 16px 0 4px;
        display: flex;
        align-items: center;
        hr {
            height: 1px;
            flex: auto;
            border: none;
            background-color: rgb(170, 170, 170);
        }
        span {
            margin: 8px;
        }
    }
    .email-login-container {
        margin-top: 16px;
        .mat-form-field {
            width: 100% !important;
        }
        .email-login-actions {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            button {
                margin-left: 8px;
            }
        }
    }
    .errors {
        margin-top: 8px;
        color: red;
    }
}
