<main id="app-container">
  <mat-toolbar id="app-toolbar">
    <div>
      <span>🔎</span>&nbsp;
      <span class="mat-caption">powered by GIPHY</span>
    </div>
    <div>
      <button mat-button *ngIf="(auth.user$ | async); else signInTemplate" (click)="auth.signOut()">Sign Out</button>
    </div>
  </mat-toolbar>
  <section id="app-content">
    <router-outlet></router-outlet>
  </section>
</main>

<ng-template #signInTemplate>
  <button mat-button (click)="openLoginDialog()">Sign In</button>
</ng-template>
