<main id="app-container" class="theme">
  <mat-toolbar id="app-toolbar" color="primary">
    <div style="display: flex; align-items: baseline;">
      <span class="app-logo-text">Search</span>&nbsp;
    </div>
    <div>
      <button mat-button class="icon-button icon-left" *ngIf="(auth.user$ | async); else signInTemplate" (click)="auth.signOut()">
        <mat-icon>logout</mat-icon>
        <span>Log out</span>
      </button>
    </div>
  </mat-toolbar>
  <section id="app-content">
    <router-outlet></router-outlet>
  </section>
</main>

<ng-template #signInTemplate>
  <button mat-button class="icon-button icon-left" (click)="openLoginDialog()">
    <mat-icon>login</mat-icon>
    <span>Log in</span>
  </button>
</ng-template>
