<div class="page-container">
    <div class="page-inner-container">
        <div class="item-navigation">
            <button mat-raised-button color="primary" class="icon-button icon-left" (click)="goBack()">
                <mat-icon>arrow_back</mat-icon>
                <span>Back</span>
            </button>
        </div>
        <div class="item-container">
            <div class="item-inner-container" *ngIf="item; else loading">
                <div class="banner-image" [style.backgroundImage]="'url(' + item.images.original.url + ')'">
                    <button mat-icon-button matTooltip="Open Original" (click)="handleLaunchClick()">
                        <mat-icon>launch</mat-icon>
                    </button>
                </div>
    
                <div class="mat-title item-title">{{item.title}}</div>
                <div>
                    <app-comment-input [sourceId]="sourceId" (commentAdded)="handleCommentAdded($event)">
                    </app-comment-input>
                    <ng-container *ngIf="auth.user$ | async as user; else commentsTemplate">
                        <ng-container *ngTemplateOutlet="commentsTemplate; context: user"></ng-container>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #loading>
    <div class="loading-container">
        <mat-spinner></mat-spinner> 
    </div>
</ng-template>

<ng-template #commentsTemplate let-uid="uid">
    <app-comment *ngFor="let comment of item.comments" [comment]="comment" [uid]="uid"
        [editing]="comment.id === editingCommentId" (deleteClicked)="handleDeleteClick($event)"
        (editClicked)="handleEditClick($event)">
    </app-comment>
</ng-template>