<div class="page-container">
    <div class="page-inner-container not-found-container">
        <div class="mat-title">Oops, looks like something is missing.</div>
        <p class="mat-body">We weren't able to find what you were looking for. 
            If you feel like something is missing please <span class="link-like" (click)="handleContactSupportClick()">contact support</span>, otherwise return to the <span class="link-like" (click)="handleHomeClick()">home page</span>.</p>

        <img class="not-found-image" src="../../../assets/images/undraw_warning_cyit.svg" />
    </div>

</div>